* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root {
    --main-color: #f25341;
    --text-color: #35404e;
    --bg-color: #f9f9ff;
    --big-font: 3.6rem;
    --h2-font: 2.26rem;
    --p-font: 1.1rem;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

header {
    position: fixed;
    width: 100%;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 111;
    padding: 20px 320px;
    background: var(--bg-color);
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.logo {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--main-color);
}

.navlist {
    display: flex;
}

.navlist a {
    color: var(--text-color);
    font-weight: 1rem;
    font-weight: 500;
    padding: 15px 20px;
    transition: color .4s;
}

.navlist a:hover {
    color: var(--main-color);
}

#menu-icon {
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

section {
    padding: 75px 16.7%;
}

.home {
    width: 100%;
    min-height: 95vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5rem;
    align-items: center;
}

.home-img img {
    max-width: 100%;
    width: 530px;
    height: auto;
}

.home-text h5 {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 15px;
    color: var(--main-color);
}

.home-text h1 {
    font-size: var(--big-font);
    color: var(--text-color);
    line-height: 1.4;
    margin-bottom: 25px;
}

.home-text p {
    max-width: 100%;
    width: 430px;
    font-size: var(--p-font);
    color: #717173;
    line-height: 1.8;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background: var(--main-color);
    border-radius: 5rem;
}

.btn i {
    margin-right: 10px;
}

.btn:hover {
    transform: scale(1.2);
    background: #f37465;
}